@import "vars"


/*==========  Desktop First  ==========*/


//Extra large: ≥1200px
+media-breakpoint-down(xl)

//Large: ≥992px
+media-breakpoint-down(lg)
  .main-header__content
  	.text-wrapper
      background-size: contain

  .about-company
    .photos-set__column--tablet-hidden
      display: none !important

  .photos-set
    justify-content: space-around
    .photos-set__column
      margin-right: 10px
      &--second
        margin-right: 0

  .modal--performed-work
    .modal__navigation
      width: 75% !important
    .photos-set
      margin-bottom: 0
      justify-content: center
      .photos-set__column--second
        width: 378px !important

  .modal--performed-work
    .photos-set
      .photos-set__column--second
        width: 378px !important
//Medium: ≥768px
+media-breakpoint-down(md)
  //Шапка

  .main-header
    padding-top: 35px
    background-size: auto
    background-position: 70% 95%

  .main-nav__item--mobile-hidden
    display: none

  //Прайс-лист
  .price-list
    .owl-item.center
      .carousel__item
    	  margin-left: -10%
    .price-list__carousel
      width: 100%
      .owl-nav
        .fas
          color: #000
        .owl-next
          right: 3%
        .owl-prev
          left: 2%
  //Акции
  .promotions__carousel
    .owl-dots
      position: absolute
      margin-top: 0
      top: 62%

  //Отзывы
  .reviews
    .container, .row
      height: auto
//Small: ≥576px
+media-breakpoint-down(sm)
  //шапка
  body.fancybox-iosfix
    position: static !important

  .main-header
    padding-top: 90px
    height: 100vh !important
    background-size: 700px
    background-position: 0px 90%
    .heading-wrapper
      .heading
        font-size: 26px
        line-height: 1.1em
    .legend__content
      font-size: 14px
      text-shadow: 1px 1px 2px black
    .legend, .heading-wrapper
      margin-left: 20px
    .top-line
      display: none

  .main-header__content
    padding-top: 32px
    height: auto
    justify-content: flex-start
    .legend
      margin-top: 20px
      margin-bottom: 450px

  .top-line
    text-align: left
    padding-left: 15px
    margin-bottom: 35px
    display: block
    .top-line__heading
      font-family: GothamProBold
      font-size: 38px
      line-height: 0.7em
      padding-left: 95px
      color: #fff

  .performed-work, .certificates, .price-list, .additional-services, .promotions, .questions, .reviews, .about-company, .main-footer
    .link--to-prev-block, .top-line__page-counter
      display: none

  .main-header__content, .performed-work__content, .additional-services, .gallery__overlay__content, .questions__content, .review__content, .reviews__content, .about-company__content-wrapper, .certificates__content , .main-footer__content
    height: auto !important

  .sidebar
    left: -3500px
    padding-left: 5%
    padding-right: 5%
    top: 0
    padding-top: 30px
    height: 100vh
    width: 50%
    background-color: #000
    z-index: 12
    transition: left .5s ease
    .contacts__address
      display: none
    .contacts__button
      display: none
    &--mobile
      position: fixed
      width: 100%
      display: flex
      z-index: 9
      background-color: #000
      top: 0
      left: 0
      padding-left: 10%
      padding-right: 10%
      padding-top: 5px
      padding-bottom: 10px
    &.menu-opened
      left: 0
      height: 100%

  .sidebar__mobile--static
    margin-top: -77px
    .contacts__button
      display: none

  .top-line
    top: 0

  //общие стили для галереи
  .performed-work__overlay
    display: none
  .performed-work
    height: auto
    .top-line
      margin-bottom: 20px
    .gallery--performed-work
      overflow: visible

  .gallery
    max-height: 100%
    height: auto !important
    position: relative
    &__group
      flex-wrap: wrap
      justify-content: center
      margin-bottom: 0
    &__item
      margin-right: 0
      margin-left: 0
      width: auto !important
      max-width: 100%
      flex-basis: auto !important
    &__description
      font-size: 14px
    &__item--mobile-hidden
        display: none
    &--performed-work
      .gallery__item
        max-width: 570px
        padding-top: 15px
        padding-bottom: 15px
      .gallery__image
        width: 100%
        height: auto
      .gallery__description
        width: auto
        max-width: 100%
        font-size: 16px
        margin-top: 10px
        line-height: 1em
        .title
          font-size: 24px
          margin-bottom: 10px
        .button--see-more
          width: 60px
          height: 60px
          margin-top: -30px
          z-index: 3
          .fas
            font-size: 50px
            line-height: 1.2em
    &--additional-services
      .gallery__description
        padding-bottom: 10px
    &--questions
      .gallery__group
        margin-bottom: 0
        padding-top: 0
      .gallery__item
        margin-bottom: 15px
        margin-top: 15px
    &--reviews
      .gallery__group
        flex-direction: column
        justify-content: flex-start
      .gallery__item
        width: 100% !important
        margin-right: 0 !important
        margin-left: 0
        height: auto !important
    &--certificates
      .gallery__group
        flex-direction: column
        align-items: center
      .gallery__item
        width: 100%
        margin: 0
        padding: 0
      .gallery__items-wrapper
        .gallery__item:nth-of-type(1)
          padding-right: 7.5px
      .gallery__item:nth-of-type(2)
        padding-left: 7.5px

  .certificates
    height: auto
    .top-line
      margin-bottom: 25px
    .gallery__overlay
      display: none
    .gallery__items-wrapper
      width: 100%
      margin-top: 15px
  .certificate
    width: 100%
    height: auto



  .button--watch-more
    display: inline-block

  //Прайс-лист
  .price-list
    height: auto
    .top-line
      margin-bottom: 0
    .carousel__item--transformed
      margin-left: -10px
    .justify-content-center
      justify-content: flex-start !important

  .price-list__carousel
    width: 101%
  .carousel__wrapper
    padding: 0

  .price-list
  	position: relative
  	height: auto
  	background-color: #000
  	background-image: url(../img/redcar-bg.jpg)
  	background-size: contain
  	padding-top: 40px
  	.container, .row
  		position: relative

  .price-list__carousel
    margin-top: 80px
  .carousel__item--price-list
    width: 300px
    height: auto
    .owl-item
      position: relative
    .owl-item.active
      text-align: center !important
    &__item
      width: 280px

  .owl-carousel
    .owl-nav
      .owl-next
        right: 0.5%
      .owl-prev
        left: 3%


  .button-wrapper
    width: 100%
    text-align: left
  .button--watch-more
    display: inline-block

  // Дополнительные услуги
  .additional-services
    height: auto
    &__content
      height: auto
    .top-line
      margin-bottom: 20px
    .gallery__overlay
      display: none

  //Акции
  .promotions
    height: auto
    padding-bottom: 100px


  .promotions__carousel
    width: 100% !important
    .owl-nav
      .owl-prev
        left: -5%
      .owl-next
        right: -5%
    .owl-dots
      position: static
  // Вопрос-ответ

  .questions
    height: auto
    .top-line
      margin-bottom: 20px
    .gallery__overlay
      display: none

  .button--watch-more
    display: inline-block
  // Отзывы


  .reviews
    height: auto
    .gallery__overlay
      display: none
    .video-review
      .video-review__preview
        width: 100%
        height: auto
    .top-line
      text-align: left
      padding-left: 15px
      margin-bottom: 27.5px

  .review
    margin: auto
    max-width: 602px

  .review__content
    height: auto
    font-size: 14px
    overflow: visible

  .review__author
    font-size: 14px

  .reviews__content
    height: auto !important

  // О компании
  .about-company
    height: auto
    padding-top: 0

  .about-company__content-wrapper
    padding-right: 0 !important

  .photos-set
    position: relative
    z-index: 8
    display: flex
    margin-bottom: 30px
    padding-right: 0 !important

  .about-company__content
    margin-top: 0
    margin-bottom: 50px

  // Соц. сети
  .social-networks
    display: none

  // сертификаты
  .certificates__content
    width: 100% !important
    margin-bottom: 30px
    //padding-right: 0 !important

  //Подвал
  .main-footer
    height: auto
    .top-line
  		.top-line__heading, .top-line__page-counter, .top-line__current-page
  			color: #fff !important

  .main-footer
    .map--main-footer
      position: static
      right: 0
      height: 515px
      width: 100%

  .contacts--footer
    flex-direction: column
    flex-wrap: nowrap
    .contacts__item
      margin-bottom: 30px
      font-size: 24px
    .contacts__heading
      font-size: 18px

  .main-footer__content
    padding-top: 0
    width: 100%
  .contact-form
    display: none
  //Ссылка на следующую страницу
  .bottom-line
    display: none
  .bottom-line--mobile
    display: block
    width: 100%
    position: absolute
    bottom: 40px
    text-align: center
    .bottom-line__link
      display: block
      text-align: center
      position: relative
      .fas
        position: absolute
        font-size: 20px
        left: 50%
        bottom: -16px
        font-weight: 200
    .link--mobile-hidden
      display: none !important
    .link--desktop-hidden
      display: block !important


  .modal
    width: 80%
    .modal__navigation
      width: 45%

  .modal--performed-work
    .modal__navigation
      width: 100% !important
    .photos-set
      margin-bottom: 0
      justify-content: center
      max-width: 378px !important
    .photos-set__column--second
      a
        margin-left: 2.5px
        margin-right: 2.5px

  .modal--review
    .modal__content
      overflow-y: hidden
      display: flex
      flex-direction: column
      justify-content: space-between
    .photos-set
      padding-top: 10px
      margin-bottom: 0
      padding-left: 0
      margin-left: 0
      .photos-set__column
        flex-wrap: wrap
        justify-content: space-between
        max-height: none
        img
          margin-top: 2.5px
          margin-bottom: 2.5px
        a

          height: auto

  .modal--video-review, .modal--image-review
  	.modal__navigation
  		width: 100%


  .nicescroll-cursors
  	display: none !important
  .nicescroll-rails
  	display: none !important
+media-breakpoint-down(xs)
  .hamburger
  	border: 2px solid #fff
  	border-radius: 10em
  	text-align: center
  	padding: 12px

  .overlay
    display: none
  .main-header
    padding-top: 35px
    height: auto
    background-size: 600px
    background-position: -200px 90%

  .top-line
    text-align: left
    padding-left: 15px
    display: block
    margin-bottom: 35px
    .top-line__heading
      font-family: GothamProBold
      font-size: 28px
      line-height: 1em
      padding-left: 70px
      color: #fff
      padding-left: 0
      display: inline-block
      right: 0 !important

  .sidebar
    width: 75%
  .hamburger
  	&.is-active
  		left: 75%
    	margin-left: -51px
  .sidebar__mobile--static
    margin-top: -20px !important

  .price-list__carousel
    width: 100%
  .price-list
    .carousel__wrapper--second
      padding-right: 0

  .price-list .container
    padding: 0 !important

  .price-list
  	position: relative
  	height: 100vh
  	background-color: #000
  	background-image: url(../img/redcar-bg.jpg)
  	background-size: contain
  	padding-top: 40px
  	.container, .row
  		position: relative
  	&__carousel
  		margin-top: 15px
    .owl-item
      //width: 308px !important
      position: relative
    .owl-item.center
      .carousel__item
      	 margin-left: -70%

  .price-list
    height: auto


  .promotion__heading
    font-size: 26px
    line-height: 1.1em
  .promotion__content
    font-size: 13px

  .about-company
    padding-bottom: 40px
    .about-company__content
      .about-company__slogan
        font-size: 18px
      .about-company__text
        font-size: 14px

  .photos-set
    img
      width: 100%
      height: auto

  .reviews
    .gallery__item
      .review + .review
        margin-top: 20px

  .review
  	.review__content
  		width: 70%
  		height: 100%
  		position: relative
  		top: 0
  		right: 0
  //Модальные окна
  .modal
    width: 70%
    font-size: 14px
    padding: 10px
    .modal__heading
      font-size: 20px
    .modal__navigation
      flex-direction: column
      width: 100%
      .button--modal
        margin-top: 5px
        margin-bottom: 5px
        padding-left: 0
        padding-right: 0
  .modal--performed-work
    .modal__content
      flex-direction: column
    .modal__content-wrapper
      padding-left: 0 !important
      font-size: 14px

  .modal--review
    .photos-set__column--second
      justify-content: space-around !important

  .modal--performed-work .photos-set .photos-set__column--second
    width: auto !important

  .modal--review
    overflow-y: hidden
    margin-bottom: 15px
    .review__avatar
      width: 100% !important
      min-height: 0
  .contact-form__message, .contact-form__name, .contact-form__phone-number
    font-size: 14px
    line-height: 1.8em
    &::-webkit-input-placeholder
      color:#6c6c6c
      font-family: MontserratLight
      font-size: 14px
      line-height: 1.8em
    &::-moz-placeholder
      color:#6c6c6c
      font-family: MontserratLight
      font-size: 14px
      line-height: 1.8em
    &:-moz-placeholder
      color:#6c6c6c
      font-family: MontserratLight
      font-size: 14px
      line-height: 1.8em
    &:-ms-input-placeholder
      color:#6c6c6c
      font-family: MontserratLight
      font-size: 14px
      line-height: 1.8em
@media screen and (max-width: 370px)
  .price-list
    .owl-item.center
      .carousel__item
    	  margin-left: -80.5%

    .owl-carousel
      .owl-nav
        .owl-next
          right: 0.5%
        .owl-prev
          left: 4%
@media screen and (min-width: 320px) and (max-width: 400px)
  .price-list
    .carousel__item--price-list
      width: 280px
@media screen and (min-width: 1492px) and (max-width: 1920px)
  .sidebar
    left: 3.5%
  .overlay
    width: 25%

  .main-header
    background-position: 50% 70%
  .main-header__content
    .heading-wrapper, .legend
      position: relative
      top: 50px
  .photos-set
    flex-direction: row
    justify-content: space-between

  .about-company__content-wrapper
    .row
      align-items: flex-end !important
    .about-company__content
      margin-top: -200px

@media screen and (min-width: 1068px) and (max-width: 1292px)
  .main-footer__content
    height: 78% !important

@media screen and (min-width: 1592px) and (max-width: 1920px)
  .gallery--performed-work .gallery__item
    max-width: 300px !important
    width: 300px !important
    height: 280px !important
    align-items: center !important
  .gallery--performed-work .gallery__description
    max-width: 100%
  .gallery--performed-work .gallery__image
    width: 100%
    height: auto
/*==========  Mobile First  ==========*/
//Extra small: <576px
+media-breakpoint-up(xs)
//Small: ≤576px
+media-breakpoint-up(sm)

//Medium: ≤768px
+media-breakpoint-up(md)

//Large: ≤992px
+media-breakpoint-up(lg)

//Extra large: ≤1200px
+media-breakpoint-up(xl)
