@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html, body
	//height: 100%

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden !important
	color: #e1e1e1
	background-color: #000
	input, textarea
			border: #666 1px solid
			outline: none
			&:focus:required:invalid
				border-color:  green
p
	margin: 0
a, button, .button
	cursor: pointer

.button
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	background-color: $accent
	padding: 0 20px
	font-family: GothamProLight
	height: 2em
	font-size: 12.5px
	line-height: 2em
	border-radius: 35px
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	&:focus, &:hover
		text-decoration: none
		color: #fff
	&:hover
		background-color: lighten($accent, 5%)
		&::after
			opacity: .22
	&:active
		background-color: darken($accent, 5%)
		&::after
			opacity: .32
	&--transparent
		background-color: transparent
		border: 1px solid $accent
		color: $accent
		&:focus
			color: $accent
	&.button--see-more
		padding: 0
		display: inline-block
		width: 45px
		height: 45px
		background-color: $accent
		border-radius: 10em
		text-align: center
		&:hover
			background-color: darken($accent, 10%)
		.fas
			color: #fff
			font-size: 30px
			line-height: 45px
	&--modal
		height: auto
		border-radius: 10px
		position: relative
		line-height: 2em
		.fas
			position: absolute
			font-size: 15px
			line-height: 1.8em
			color: #000
	&--modal-prev
		padding-left: 55px
		.fas
			left: 22px
	&--modal-next
		padding-right: 55px
		.fas
			right: 22px

.img-responsive
	display: block
	max-width: 100%
	height: auto
.fas.fa-times
	font-size: 20px
.text-center
	text-align: center

.heading
	font-family: GothamProLight
	font-size: 32px
	line-height: 1.25em
	color: #fff
	.heading__accent-text
		font-family: GothamProBold
		color: $accent

.button--watch-more
	display: none
	background-color: $accent
	font-family: GothamProLight
	font-size: 16px
	line-height: 2.5em
	text-align: center
	color: #d8d8d8
	border-radius: 50px
	width: 75%
	margin: auto
	margin-bottom: 20px
	&:hover
		background-color: darken($accent, 10%)
		color: #fff
		text-decoration: none
// Шапка

.top-line
	text-align: right
	display: block
	font-size: 12px
	max-height: 35px
	top: -23px
	position: relative
	z-index: 5
.top-line__heading, .top-line__page-counter
	position: relative
	right: 70px
.top-line__heading
	color: #5d5d5d
.top-line__page-counter
	display: block
	color: #c1c1c1
.top-line__current-page
	font-family: GothamProBold
	color: #fff

.price-list
	.top-line
		top: 20px

.link
	&--desktop-hidden
		display: none !important
	&--to-prev-block
		display: block
		width: 100%
		position: absolute
		top: 20px
		color: #e1e1ee
		text-align: center
		z-index: 6
		&:hover
			color: #e1e1ee
			text-decoration: none
		.prev-page
			display: block
			text-align: center
			position: relative
			.fas
				position: absolute
				font-size: 20px
				left: 50%
				margin-left: -5px
				top: -16px
				transform: rotate(180deg)

.main-header
	background-color: #000
	height: 100vh
	padding-top: 40px
	background-image: url(../img/car-bg1.png)
	background-repeat: no-repeat
	background-position: center
	background-position: 50% 90%
	position: relative
.main-header__content
	position: relative
	height: 100vh

.logo
	font-size: 14px
	line-height: 1.5em
.logo__wrapper
	color: #e1e1ee
	&:hover
		text-decoration: none
		color: #e1e1ee
.logo__signature
	display: block
	margin-top: 5px

.sidebar
	display: flex
	flex-direction: column
	justify-content: space-between
	position: fixed
	height: 100vh
	left: 5%
	z-index: 10
	padding-top: 40px
	padding-bottom: 40px
	&--inactive
		justify-content: flex-end !important
	&--mobile
		display: none
		justify-content: space-between
		align-items: center
		position: relative
		.contacts
			width: 56%
			max-width: 320px
			min-width: 190px
	&__mobile--static
		position: static !important
		padding-top: 0 !important
		margin-top: -19px
.main-nav
	padding: 0
	margin: 0
	list-style-type: none
.main-nav__item
	padding-left: 30px
	position: relative
	font-size: 12px
	line-height: 2.5em

.main-nav__item--active, .active
	.main-nav__link
		color: #e1e1ee !important
		font-family: GothamProBold !important
		&::before
			transform: scale(1.3)
			box-shadow: 0 0 15px 3px $accent
		&:hover
			text-decoration: none

.main-nav__link
	text-decoration: none
	color: #e1e1ee
	font-family: GothamProLight
	&::before
		content: ""
		width: 6px
		height: 6px
		border-radius: 10em
		background-color: $accent
		position: absolute
		left: 7px
		top: 50%
		margin-top: -3px
	&:hover
		color: #e1e1ee
		text-decoration: underline


.main-nav__item--sibling1 .main-nav__link
	color: darken(#fff, 10%)
	&::before
		width: 5.5px
		height: 5.5px
		background-color: darken($accent, 10%)
.main-nav__item--sibling2 .main-nav__link
	color: darken(#fff, 20%)
	&::before
		width: 5px
		height: 5px
		background-color: darken($accent, 20%)
.main-nav__item--sibling3 .main-nav__link
	color: darken(#fff, 40%)
	&::before
		width: 4.5px
		height: 4.5px
		background-color: darken($accent, 30%)
.main-nav__item--sibling4 .main-nav__link
	color: darken(#fff, 50%)
	&::before
		width: 4px
		height: 4px
		background-color: darken($accent, 30%)
		opacity: .9
.main-nav__item--sibling5 .main-nav__link
	color: darken(#fff, 60%)
	&::before
		width: 4px
		height: 4px
		background-color: darken($accent, 30%)
		opacity: .8
.main-nav__item--sibling6 .main-nav__link
	color: darken(#fff, 70%)
	&::before
		width: 4px
		height: 4px
		background-color: darken($accent, 30%)
		opacity: .7
.main-nav__item--sibling7 .main-nav__link
	color: darken(#fff, 80%)
	&::before
		width: 4px
		height: 4px
		background-color: darken($accent, 30%)
		opacity: .6

.main-nav__item--sibling8 .main-nav__link
	color: darken(#fff, 85%)
	&::before
		width: 4px
		height: 4px
		background-color: darken($accent, 30%)
		opacity: .6
.main-nav__item--sibling9 .main-nav__link
	color: darken(#fff, 85%)
	&::before
		width: 4px
		height: 4px
		background-color: darken($accent, 30%)
		opacity: .6
.main-nav__item--sibling10 .main-nav__link
	color: darken(#fff, 85%)
	&::before
		width: 4px
		height: 4px
		background-color: darken($accent, 30%)
		opacity: .6

.contacts__item
	margin-bottom: 20px
	display: block
	color: #fff
	&:last-of-type
		margin-bottom: 0
	&:hover
		color: #fff
		text-decoration: none
	.fas
		color: $accent
		margin-right: 9px
		transform: rotate(100deg)
		&.fa-map-marker-alt
			transform: none
.contacts__phone
	.fas
		margin-right: 0 !important


.contacts__button
	border: 1px solid $accent
	border-radius: 20px
	height: auto
	text-align: center
	max-width: 320px
	z-index: 9
	transition: background-color .25s ease
	position: relative
	padding-top: 3px
	padding-bottom: 3px
	&:hover
		background-color: $accent
	.fas
		color: #fff
		margin-left: 4.5px
		position: absolute
		left: 4.5px
		top: 50%
		margin-top: -7px
	&::before
		content: ""
		width: 31px
		height: 31px
		border-radius: 10em
		border: 1px solid $accent
		position: absolute
		left: 0px
		top: 0px

.legend__content
	padding-top: 20px
	position: relative
	color: #e1e1e1
	z-index: 2
	font-size: 14px
	&::after
		content: ""
		width: 100px
		height: 3px
		background-color: $accent
		position: absolute
		top: 0
		left: 0

.bottom-line
	display: block
	width: 100%
	position: absolute
	bottom: 20px
	color: #e1e1ee
	z-index: 6
	cursor: pointer
	&:hover
		color: #e1e1ee
		text-decoration: none
	&--mobile
		color: #e1e1ee
		&:hover
			color: #e1e1ee
			text-decoration: none
	.fas
		position: absolute
		font-size: 20px
		left: 50%
		margin-left: -5px
		bottom: -16px

.bottom-line__link
	display: block
	text-align: center
	position: relative


.hamburger
	border: 2px solid #fff
	height: 51px
	width: 51px
	border-radius: 10em
	text-align: center
	padding: 12px
	&.is-active
		z-index: 15
		position: fixed
		left: 50%
		margin-left: -51px
		margin-top: 0

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
	background-color: #fff
	height: 2px
	width: 24px

//Общие стилли для галереи
.gallery
	//overflow-x: scroll
	//overflow-y: hidden
	position: absolute
	&__group
		display: flex
		flex-direction: row
		padding-bottom: 15px
		padding-top: 15px
	&__item
		display: flex
		flex-direction: column
		border: 1px solid #fff
		margin-right: 15px
		margin-left: 15px
		padding: 10px
	&__description
		font-family: GothamProLight
		font-size: 12px
		color: #a6a6a6
		position: relative
		text-align: left
		margin: 0
		.title
			font-size: 16px
			left: 38px
			display: block
			color: #fff
			cursor: pointer
			&:hover
				text-decoration: none
	&--performed-work
		max-height: 570px
		.link--modal
			display: flex
			width: auto
			height: auto
		.gallery__item
			max-width: 265px
			border-image: linear-gradient(to top, #040505 25%, #fff 100%)
			border-image-slice: 1
		.gallery__image
			width: 240px
			height: auto
		.gallery__description
			padding-right: 50px
			max-width: 241px
			font-size: 13px
			.button--see-more
				position: absolute
				z-index: 2
				right: 0
				top: 50%
				margin-top: -22.5px
	&--additional-services
		display: flex
		flex-direction: column
		.gallery__overlay
			position: fixed
			z-index: 1
			right: 0
			top: 0
			height: 100vh
			margin-right: -100px
			width: 400px
			background-image: linear-gradient(to right, transparent 0%, #000 70%)
		.gallery__group
			width: auto
		.gallery__item
			width: 465px
			flex-basis: 465px
			flex-shrink: 0
			padding-top: 15px
			padding-bottom: 15px
			border-image: linear-gradient(to top, #040505 25%, #fff 100%)
			border-image-slice: 1
		.gallery__description
			width: 100%
	&--questions
		max-height: 545px
		display: -webkit-flex
		display: -ms-flex
		display: flex
		flex-direction: column
		.gallery__overlay
			position: fixed
			z-index: 1
			right: 0
			top: 0
			height: 100vh
			margin-right: -100px
			width: 400px
			background-image: linear-gradient(to right, transparent 0%, #000 70%)
		.gallery__group
			width: auto
		.gallery__item
			width: 465px
			flex-basis: 465px
			flex-shrink: 0
			padding: 10px
			padding-top: 15px
			padding-bottom: 15px
			border-image: linear-gradient(to top, #040505 25%, #fff 100%)
			border-image-slice: 1
	&--reviews
		//max-height: 580px
		height: 76vh
		max-height: 100%
		display: -webkit-flex
		display: -ms-flex
		display: flex
		flex-direction: column
		.gallery__overlay
			position: fixed
			z-index: 1
			right: 0
			top: 0
			height: 100vh
			margin-right: -100px
			width: 400px
			background-image: linear-gradient(to right, transparent 0%, #000 70%)
		.gallery__group
			width: auto
			padding-bottom: 7.5px
			padding-top: 7.5px
			align-items: center
		.gallery__item
			border: none
			justify-content: space-between
			flex-shrink: 0
			margin-right: 10px
			margin-left: 10px
			height: 100%
			.review + .review
				margin-top: 30px
	&--certificates
		max-height: 550px
		display: -webkit-flex
		display: -ms-flex
		display: flex
		flex-direction: column
		.gallery__overlay
			position: fixed
			z-index: 1
			right: 0
			top: 0
			height: 100vh
			margin-right: -100px
			width: 300px
			background-image: linear-gradient(to right, transparent 40%, #000 70%)
		.gallery__group
			width: auto
		.gallery__item
			border: none

.overlay
	height: 100%
	margin-right: -100px
	width: 21%
	background-image: linear-gradient(to right, transparent 0%, #000 70%)
	z-index: 2
	position: absolute
	top: 0
	right: 0

// Выполненные работы

.performed-work
	position: relative
	height: 100vh
	background-image: url(../img/bubble-bg.jpg)
	background-size: cover
	padding-top: 40px
	.container, .row
		position: relative

.performed-work__content
	height: 76vh
	position: relative
	display: -webkit-flex
	display: -ms-flex
	display: flex
	flex-direction: column
	justify-content: center

.performed-work__overlay
	position: fixed
	right: 0
	top: 0
	height: 100vh
	margin-right: -100px
	width: 400px
	background-image: linear-gradient(to right, transparent 0%, #000 80%)

// Прайс-лист

.price-list
	position: relative
	z-index: 2
	height: 100vh
	background-color: #000
	background-image: url(../img/redcar-bg.jpg)
	background-size: contain
	//padding-top: 40px
	.container, .row
		position: relative
		height: 100%
	.container
		height: 93%
.price-list__carousel
	width: 90%
	.owl-item.active
		text-align: center !important
		z-index: 2 !important
	.owl-item.center
		z-index: 5 !important
		.carousel__item--price-list
			transform: scale(1.1)
			box-shadow: 0 1px 3px 0 #000
			background-color: #fff
			position: relative
			margin-left: 0px

.carousel__item--price-list
	margin-top: 30px
	margin-bottom: 30px
	background-color: #f2f2f2
	display: inline-block
	width: 340px
	padding-top: 45px
	padding-bottom: 20px
	padding-left: 20px
	padding-right: 20px
	text-align: center
	display: -webkit-flex
	display: -ms-flex
	height: 451px
//.carousel__item--price-list
	margin-top: 30px
	margin-bottom: 30px
	background-color: #f2f2f2
	display: inline-block
	width: 280px
	padding-top: 45px
	padding-bottom: 20px
	padding-left: 20px
	padding-right: 20px
	text-align: center
.tariff
	width: 100%
	display: -webkit-flex
	display: -ms-flex
	display: flex
	flex-direction: column
	justify-content: center
.tariff__image
	width: auto !important
	display: inline-block !important
.tariff__heading
	font-family: GothamProBold
	font-size: 24px
	line-height: 2em
	color: #000
	display: block
	border-bottom: 1px solid #e9e9e9
.tariff__service
	text-align: left
	font-family: GothamProLight
	color: #0a0a0a
	font-size: 14px
	line-height: 2.5em
	display: block
	padding-left: 10px
	padding-right: 10px
	&:nth-child(2n)
		background-color: #f4f4f4
	&:last-of-type
		margin-bottom: 20px
.tariff__price
	padding-left: 10px
	display: flex
	flex-wrap: nowrap
	align-items: center
	justify-content: space-between
	font-family: GothamProBold
	font-size: 20px
	line-height: 2em
	color: $accent
	flex-basis: 55%
	flex-shrink: 2
	.button
		position: relative
		z-index: 15
		flex-basis: 45%
		margin-left: 23px

.owl-carousel
	.owl-item
		position: relative
		z-index: 0
	.owl-item.active
		position: relative
		z-index: 1

.owl-carousel
	.owl-nav
		position: absolute
		width: 100%
		top: 50%
		margin-top: -15px
		right: 0
		.fas
			font-size: 30px
			color: #fff
		.owl-next
			position: absolute
			right: -75px
		.owl-prev
			position: absolute
			left: -75px

// Дополнительные услуги
.additional-services
	position: relative
	background-image: url(../img/bmw-bg.jpg)
	background-size: cover
	padding-top: 40px
	height: 100vh
	.container
		position: relative
		height: 93%
	.row
		height: 100%
.additional-services__content
	height: 76vh
	position: relative
	display: -webkit-flex
	display: -ms-flex
	display: flex
	flex-direction: column
	justify-content: center
.link
	&--to-prev-block
		cursor: pointer
		&:hover
			.fas
				position: absolute
				font-size: 20px
				left: 50%
				margin-left: -5px
				top: -16px
				transform: rotate(180deg)

.additional-service__image
	width: 50px
	height: auto
.additional-service__button
	z-index: 2
	width: 145px

//Акции
.promotions
	position: relative
	z-index: 2
	height: 100vh
	background-color: #000
	padding-top: 40px
	background-image: url(../img/whitecar-bg.jpg)
	background-size: cover
	background-repeat: no-repeat
	.container
		height: 93%
	.row
		height: 100%
		.prev-page
			margin-right: -28px
	.owl-dots
		margin-top: 10px
	.owl-dot
		width: 10px
		height: 10px
		border: 1px solid $accent !important
		position: relative
		border-radius: 10em
		margin-right: 5px
		&.active
			background-color: $accent
			box-shadow: 0 0 20px 2px $accent
	.promotions__carousel
		width: 80%
		display: flex
		justify-content: center
		flex-direction: column

.promotion__heading
	margin-bottom: 10px

.promotion__content
	padding-top: 10px
	position: relative
	color: #e1e1e1
	z-index: 2
	margin-bottom: 5px
	max-width: 650px
	&::after
		content: ""
		width: 100px
		height: 3px
		background-color: $accent
		position: absolute
		top: 0
		left: 0
// Вопрос-ответ
.questions
	position: relative
	height: 100vh
	background-image: url(../img/bubble-bg2.jpg)
	background-size: cover
	padding-top: 40px
	.container, .row
		position: relative
.questions__content
	height: 76vh
	position: relative
	display: -webkit-flex
	display: -ms-flex
	display: flex
	flex-direction: column
	justify-content: center

.question__item
	font-family: GothamProLight
	font-size: 14px
	color: #a6a6a6
	position: relative
	text-align: left
	width: 100%
	margin: 0
	.link--more-information
		display: block
		font-size: 12px
		color: $accent
		text-decoration: underline
.question__title
	font-size: 16px
	line-height: 1em
	display: block
	color: #fff
	&:hover
		text-decoration: none

//Отзывы
.reviews
	position: relative
	height: 100vh
	background-image: url(../img/bubble-bg3.jpg)
	background-size: cover
	padding-top: 40px
	.nicescroll-rails-hr
		top: 100% !important
	.container, .row
		//height: 100vh
		position: relative
.reviews__content
	//overflow-y: scroll !important
	height: 76vh
	display: flex
	justify-content: center
	flex-direction: column
.scrollable-content
	padding-bottom: -50px



.review
	overflow-y: hidden
	max-width: 653px
	position: relative
	.link
		display: block
		display: block
		font-size: 12px
		color: #ff1792
		text-decoration: underline
		margin-top: 5px
.review__avatar
	display: inline-block
	position: absolute
	left: 0
	top: 0
	width: 60%
	height: auto
	min-height: 100%
.review__content
	width: 70%
	height: 100%
	position: relative
	top: 0
	right: 0
	margin-left: 30%
	background-color: #fff
	font-family: GothamProLight
	font-size: 13px
	line-height: 1.5em
	color: #1f1e1e
	margin-bottom: 0
	padding: 15px
	padding-top: 0
	.review__author
		display: block
		font-size: 16px
		line-height: 2.5em
		color: #000

.video-review
	display: inline-block
	margin: auto
	max-width: 602px
	position: relative
	font-family: fontawesome
	&:hover
		&::after
			content: ""
			background-image: url(../img/icons/play.svg)
			position: absolute
			width: 25px
			height: 25px
			top: 50%
			margin-top: -12.5px
			left: 50%
			margin-left: -12.5px
		&::before
			content: ""
			width: 100%
			height: 100%
			position: absolute
			background-color: rgba(#efefef, 0.06)
			top: 0
			left: 0
.video-review__preview
	width: auto
	max-width: 602px
	height: 148px

.screenshot-review
	display: inline-block
	margin: auto

//Сертификаты
.certificates
	position: relative
	height: 100vh
	background-image: url(../img/bubble-bg3.jpg)
	background-size: cover
	padding-top: 40px
	.container, .row
		position: relative
.certificates__content
	height: 76vh
	position: relative
	display: flex
	flex-direction: column
	justify-content: center

.gallery__items-wrapper
	display: -webkit-flex
	display: -ms-flex
	display: flex
	justify-content: space-between
// О компании
.about-company
	position: relative
	height: 100vh
	background-image: url(../img/bubble-bg3.jpg)
	background-size: cover
	padding-top: 40px
	.container
		position: relative
		height: 90%
		.row
			height: 100%
	.photos-set
		position: relative
		margin-bottom: 30px
		max-height: 50%
.about-company__content-wrapper
	height: 100%
	display: -webkit-flex
	display: -ms-flex
	display: flex
	flex-direction: column
	justify-content: center
	.row
		justify-content: space-around


.photos-set
	z-index: 2
	display: flex
	position: relative

.photos-set__column
	display: flex
	flex-direction: column
	justify-content: space-between
	margin-right: 30px
	//max-height: 350px
	&:last-of-type
		margin-right: 0
	&--first
		flex-basis: 362px
		flex-shrink: 2
		a
			width: 100%
			height: 100%
	&--second, &--third
		flex-basis: 263px
		flex-shrink: 2
		a
			width: 100%
			height: 46%

.about-company__content
	position: relative
	z-index: 2
	color: #fff
	max-height: 150px
	padding-bottom: 0
.about-company__slogan
	font-family: GothamProBold
	font-size: 24px
	line-height: 1.5em

.about-company__text
	font-family: GothamProLight
	font-size: 17px
	line-height: 1.5em

// Социальные сети
.social-networks
	position: relative
	height: 100vh
	background-image: url(../img/bubble-bg3.jpg)
	background-size: cover
	padding-top: 40px
	.container
		position: relative
		height: 90%
	.row
		height: 100%
.social-networks__content-wrapper
	position: static !important
	height: 100%
	justify-content: flex-start !important
.social-networks__content
	position: relative
	z-index: 2
	height: 100%
	//margin-top: 35px
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

.widget
	width: 100%
	max-width: 950px
	&--youtube
		flex-basis: 190px
		height: 34%
		background-image: url(../img/widget-yt.jpg)
	&--instagram
		height: 62%
		background-image: url(../img/widget-inst.jpg)
		flex-basis: 350px
		margin-bottom: 30px

// Подвал

.main-footer
	position: relative
	height: 100vh
	background-image: url(../img/bubble-bg4.jpg)
	background-size: cover
	.top-line
		top: 20px
		.top-line__heading, .top-line__page-counter, .top-line__current-page
			color: #000
	.container
		height: 90%
		.row
			height: 100%
	.map--main-footer
		position: absolute
		z-index: 2
		top: 0
		right: 0
		height: 103%
		width: 362px
		.dg-widget-link
			height: 100%
.main-footer__content
	height: auto
	padding-top: 50px
	margin-bottom: 80px
	display: -webkit-flex
	display: -ms-flex
	display: flex
	flex-direction: column
	justify-content: center

.contacts--footer
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	.contacts__item
		margin-bottom: 50px
	.contacts__heading
		flex-basis: 40%
		font-family: GothamProBold
		font-size: 24px
		line-height: 1.5em
		color: #fff
		display: block
	.contacts__address
		flex-basis: 40%
	.contacts__email
		flex-basis: 40%
		.fas
			transform: none

.contact-form
	display: block
	background-color: #fff
	padding: 20px
	width: 100%
	text-align: center

.contact-form__message
	resize: none
	min-height: 150px

.contact-form__message, .contact-form__name, .contact-form__phone-number
	width: 100%
	padding: 15px 20px
	display: block
	border: 1px solid #e0dfdf
	box-shadow: inset 2px 2px 8px -8px rgba(0,0,0,0.75)
	margin-bottom: 15px
	font-size: 14px
	line-height: 1.8em
	&::-webkit-input-placeholder
		color:#6c6c6c
		font-family: MontserratLight
		font-size: 14px
		line-height: 1.8em
	&::-moz-placeholder
		color:#6c6c6c
		font-family: MontserratLight
		font-size: 14px
		line-height: 1.8em
	&:-moz-placeholder
		color:#6c6c6c
		font-family: MontserratLight
		font-size: 14px
		line-height: 1.8em
	&:-ms-input-placeholder
		color:#6c6c6c
		font-family: MontserratLight
		font-size: 14px
		line-height: 1.8em

.button--contact-form
	display: block
	width: 100%
	font-size: 14px
	line-height: 45px
	height: 45px

.contact-form__checkbox
	position: relative
	.checkbox_label
		color: #6c6c66
		display: inline-block
		cursor: pointer
		position: relative
		padding-left: 30px
		&::before
			content: ""
			border: 1px solid #c6c6c6
			color: #ced0da
			width: 18px
			height: 18px
			position: absolute
			top: 50%
			left: 0
			margin-top: -9px
		&::after
			content: ""
			width: 17px
			height: 17px
			position: absolute
			background-color: $accent
			background-image: url(../img/icons/tick.svg)
			background-repeat: no-repeat
			background-position: center
			text-align: center
			top: 50%
			left: 0
			margin-top: -8.5px
			display: none
		.private-data
			color: #e91c8f
			text-decoration: underline
			&:hover
				text-decoration: none
	.checkbox
		position: absolute
		z-index: -1
		opacity: 0
		width: 18px
		height: 19px

.contact-form__checkbox .checkbox:checked + .checkbox_label::after
	display: block

.fancybox-button
	background: transparent
.fancybox-toolbar
	top: 5%
	right: 4%
.fancybox-caption-wrap
	display: none

// Модальные окна
.modal
	width: 65%
	z-index: 15
	padding: 28px
	background: #fff
	font-family: GothamProLight
	font-size: 14px
	line-height: 1.5em
	color: #000
.modal__heading
	font-size: 24px
	line-height: 1.6em
.paragraph-separator
	display: inline-block
	height: 10px
	width: 100%
.modal__navigation
	margin-top: 15px
	width: 35%
	display: flex
	justify-content: space-between

.modal--performed-work
	padding: 15px
	.modal__navigation--performed-work
		width: 60%
	.modal__content
		display: flex
	.modal__content-wrapper
		display: block !important
		flex-basis: 60%
		height: auto
		flex-shrink: 1
		padding-left: 25px
	.photos-set
		flex-basis: 40%
		flex-direction: column
		justify-content: space-around
		height: auto
		flex-shrink: 3
		max-width: 378px
		.photos-set__column--second, .photos-set__column--first
			flex-basis: auto
		.photos-set__column
			flex-direction: row
		.photos-set__column--first
			justify-content: center
			margin-right: 0
			margin-bottom: 5px
			.modal__photo
				max-width: 376px
				width: 100%
				height: auto
			.modal__photo-wrapper
				width: auto
		.photos-set__column--second
			justify-content: space-between
			.modal__photo
				max-width: 120px
				width: 100%
				height: auto
			.modal__photo-wrapper
				width: auto

.modal--review
	.modal__content
		overflow-y: hidden
	.modal__navigation
		width: 45%
	.review
		max-width: 100%
		overflow-y: visible
		.review__content
			font-size: 14px
			z-index: 2
		.review__avatar
			z-index: 1
			width: 45%
	.photos-set
		background: #fff
		z-index: 2
		flex-basis: 100%
		margin-left: 30%
		padding-left: 15px
		flex-direction: row
		height: auto
	.photos-set__column
		flex-direction: row
	.photos-set__column--second
		flex-basis: auto
		justify-content: space-between
		width: 100%
		img
			max-width: 110px
			width: 100%
			height: auto
		a
			width: auto
	.modal--contact-form
		position: absolute
		width: 60%

.modal--video-review
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	width: 40%
	.modal__navigation
		width: 100%
	video
		width: 100%
		height: auto
.modal--image-review
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	width: 40%
	text-align: center
	.modal__navigation
		width: 100%
	.image-wrapper
		width: 100%
		display: -webkit-flex
		display: -ms-flex
		display: flex
		justify-content: center

.modal--form-send
	width: 40%
	min-height: 150px
	background: #fff
	color: $accent
	font-weight: bold
	display: -webkit-flex
	display: -ms-flex
	display: flex
	flex-direction: column
	justify-content: center
	text-align: center
	border-radius: 5px
	padding: 20px
	.modal__heading
		display: inline-block
		text-align: center
		font-weight: bold
		font-family: GothamProBold

.fancybox-button--close
	&:hover
		color: $accent
		transition: color .25s ease
.fancybox-close-small
	top: 5%
	right: 4%
	color: #fff
	padding: 10px
	width: 24px
	height: 24px
	box-sizing: content-box
	&:hover
		color: $accent
		transition: color .25s ease
	&::after
		display: none
.nicescroll-cursors
	background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(168,168,168,1) 50%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(168,168,168,1) 50%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(168,168,168,1) 50%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
	z-index: 10
.nicescroll-rails
	border: 1px solid #212121
	height: 12px !important
	z-index: 10
@import "media" // Always at the end
